.main-content {
  max-width: 1000px;
  margin: 0 auto;
}
.top {
  border-top: none;
}
@media (max-width: 1000px) {
  .top {
    border-top: none;
    border-right: none;
    border-left: none;
  }
}
.form-check-input {
  border-radius: 5px;
}
#theme-switcher {
  margin-left: 15px;
}
.form-control,
.btn {
  border-radius: 10px;
}
.bottom {
  border-radius: 0px 0px 10px 10px;
}
@media (max-width: 1000px) {
  .bottom {
    border-right: none;
    border-left: none;
  }
}
